/* seteo */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* todo el html */
html {
    font-family: Roboto;
    font-weight: 400;
}

/* header */
.tienda, footer, .super {
    background-color: #00669F;
    color: white;
}

h5 {
    font-size: 1rem;
    height: 2.5rem;
    background-color:#1CD1B0;
    padding: 1rem;
}

.tienda {
    display: flex;
    height: 5rem;
    padding: 1rem 3rem;
    flex-direction: row;
}

h3 {
    align-self: center;
    padding: 0.5rem;
}

img {
    width: 3.3rem;
}

.contacto {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    background-color: #001D2D;
    color: white;
    padding: 0.5rem;

}

/* caja principal */
.super {
    display: flex;
    flex-direction: column ;
    border: 2px red solid;
    text-align: center;
    border-radius: 49.09px;
    margin: 3rem 10rem;
    padding: 1rem;
    justify-content: space-between;
    align-self: center;
}

.formulario {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0.5rem;
    width: 600px;
    height: 500px;
}

.caja {
    display: flex;
    border: 3px solid black;
    flex-direction: column;
    justify-content: space-between;
}


/* boton */
.añadir {
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    margin: 1rem;
    height: 2rem;
    background-color: #1CD1B0;
    padding: 1rem 3rem;
}

/* footer */
footer {
    padding: 0.5rem;
    text-align: center;
}

